<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://c1026.dmpdmp.com/a1402f652a003eaf901bcf8df87b13a7/68c03adc/2025/09/09/19c97c5b7e73e8f129a28a97f7063611.ipa?fn=scanner_2.3.4.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>com.weibai.scanner</string>
                     <key>bundle-version</key>
                    <string>2.3.4</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>布丁扫描</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>